$bg-primary : #F3F4F9;
$bg-secondery : #FFFFFF;
$bg-tertiary : #f5f5f5;
$bg-active: #dddddd;


$theme-color-one: #1abc9c;
$theme-color-two: #ff8952;
$theme-color-two-dark: #c59e28;
$theme-color-white: #ffffff;
$theme-color-gray-white: #fafafa;
$theme-color-black-white: #dddddd;
$theme-color-gray: #bfbfbf;
$theme-color-dark50: #999999;
$theme-color-dark70: #555555;
$theme-color-dark80: #333333;
$theme-color-dark90: #111111;
$theme-color-dark: #000000;
$theme-color-red: red;