.admin-login-form{
    padding-top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    .login-logo{
        flex: 0 0 50%;
        max-width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 50px;
        justify-content: space-around;
        background: $theme-color-white;
        flex-direction: column;
        h1{
            font-size: 2.125rem;
            padding-left: 1rem;
            margin-bottom: 0;
        }
    }
    .login-form{
        flex: 0 0 50%;
        max-width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 50px;
        background: $theme-color-one;
        align-items: center;
        justify-content: space-around;
        form{
            width: 100%;
            max-width: 400px;
            @include exo-two;
            font-weight: 700;
            .form-group{
                .input-group{
                    .input-group-prepend{
                        background: $theme-color-white;
                        border-right: 2px solid $theme-color-one;
                        .input-group-text{
                            background: $theme-color-white;
                            border: none;
                            padding: .375rem 1rem;
                        }
                    }
                    .form-control{
                        background-clip: inherit;
                        border: none;
                        height: 45px;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        -ms-border-radius: 0;
                        -o-border-radius: 0;
                        &::placeholder {
                            font-weight: 600;
                            font-size: 1.125rem;
                        }
                    }
                }
            }
            button.btn{
                @include transition-all;
                width: 100%;
                text-align: center;
                background: $theme-color-two;
                color: $theme-color-dark;
                font-weight: 600;
                font-size: 1.125rem;
                text-transform: uppercase;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                i{
                    margin-left: .5rem;
                }
                &:hover{
                    background: rgba($theme-color-two, .75);
                }
            }
            .forgot-password-text{
                margin-top: 2rem;
                margin-bottom: 0;
                color: $theme-color-white;
                a{
                    color: $theme-color-black-white;
                    text-decoration: underline;
                    padding-left: .5rem;
                    &:hover{
                        color: $theme-color-two;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    @media (max-width: 575.98px) {
        display: block;
        background: $theme-color-white;
        padding: 2rem 1rem;
        .login-logo{
            display: block;
            height: auto;
            width: 100%;
            max-width: 100%;
            padding: 1rem 0;
            background: $theme-color-white;
            .login-logo-box{
                display: flex;
                align-items: center;
                flex-direction: column;
                h1{
                    padding-left: 0;
                }
            }
        }
        .login-form{
            display: block;
            height: auto;
            width: 100%;
            max-width: 100%;
            padding: 2rem 1rem;
            background: $theme-color-white;
            form{
                max-width: 100%;
                .form-group{
                    .input-group{
                        .input-group-prepend{
                            display: none;
                        }
                        .form-control{
                            background: $theme-color-black-white;
                            &::placeholder {
                                text-align: center;
                            }
                        }
                    }
                }
                
                .forgot-password-text{
                    text-align: center;
                    color: $theme-color-one;
                    a{
                        color: $theme-color-two;
                        text-decoration: underline;
                        padding-left: .5rem;
                        &:hover{
                            color: $theme-color-two;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}