@mixin  open-suns {
    font-family: 'Open Sans', sans-serif;
}

@mixin exo-two {
    font-family: 'Exo 2', sans-serif;
}

@mixin heading-font {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

@mixin body-font {
    font-family: 'Open Sans', sans-serif;
}

@mixin alt-font {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
}

@mixin transition-all() {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

@mixin product-btn{
    padding: .375rem .5rem;
    font-size: .875rem;
    background: $theme-color-two;
    color: $theme-color-dark;
    &:hover{
        background: $theme-color-one;
        color: $theme-color-white;
    }
}