/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  min-width: 240px;
  max-width: 240px;
  height: calc(100% - 70px);
  overflow: hidden;
  overflow-y: auto;
  z-index: 1000;
  background: $theme-color-white;
  color: rgba($theme-color-dark, 0.75);
  transform-origin: bottom left;
  @include exo-two;
  font-weight: 500;
  position: fixed;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  -webkit-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  -moz-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  -ms-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  -o-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);

  span.section-tag {
    position: absolute;
    top: -15px;
    background: #fff;
    padding: .125rem .25rem;
    left: 34px;
  }

  .client-login-area {
    display: flex;
    align-items: center;
    padding: 1.5rem .75rem;
    border-bottom: 1px solid rgba($theme-color-dark, 0.15);

    img {
      width: 60px;
      padding: 0;
      margin-right: .5rem;
      border: 3px solid rgba($theme-color-dark, 0.15);
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }

    .client-login-detail {
      display: block;
      overflow: hidden;

      .cla-name {
        margin-bottom: 0;
        line-height: .875rem;

        a {
          font-size: .878rem;
          display: inline-block;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: bottom;
        }
      }

      p {
        @include exo-two;

        &.welcome-text {
          margin-bottom: 0;
          font-weight: 500;
        }

        &.cla-log-in-out {
          margin-bottom: 0;
          text-transform: uppercase;

          a {
            color: rgba($theme-color-dark, 0.5);
            font-weight: 600;
            font-size: .875rem;
          }
        }
      }
    }


  }

  ul.sale-promo {
    position: relative;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba($theme-color-dark, 0.15);
    margin-bottom: 0;
  }


  #sidebarMainMenu {
    &.settings-menu {
      border-top: 1px solid #ddd;
    }

    position: relative;
    padding: 1.5rem 0;

    .card {
      border: none;
      border-radius: 0;

      .card-header {
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;

        h2 {
          font-weight: 400;
        }
      }

      .card-body {
        padding: 0;
        border-radius: 0;

        ul {
          border-radius: 0;
          margin-left: 1.25rem;
          padding: 0;
          border-left: 1px dashed $theme-color-dark;

          li {
            padding: 0;
            border: none;

            a {
              padding: .25rem .75rem;
            }
          }
        }

        .sl-accordian {
          border-left: 1px dashed $theme-color-dark;
          margin-left: 1.25rem;

          ul {
            margin-left: .75rem;
          }
        }
      }
    }
  }

  .nav-link {
    font-size: .875rem;
    font-weight: 500;
    color: rgba($theme-color-dark, 0.8);
    border: none;
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: left;
    padding: 0.375rem .75rem;

    i {
      color: rgba($theme-color-dark, 0.65);
      margin-right: .25rem;
    }

    img {
      width: 20px;
      margin-right: .375rem;
    }

    &:hover {
      background: #ddd;
    }

    &.has-sub-menu {
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: .625rem;
        color: rgba($theme-color-dark, 0.65);
        content: "\f054";
        position: absolute;
        right: .625rem;
        -ms-transform: rotate(90deg); /* IE 9 */
        transform: rotate(90deg);
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: all .35s ease-out;
        -moz-transition: all .35s ease-out;
        -o-transition: all .35s ease-out;
        transition: all .35s ease-out;
      }

      &.collapsed {
        &::before {
          -ms-transform: rotate(0); /* IE 9 */
          transform: rotate(0);
          -webkit-transition: all .35s ease-out;
          -moz-transition: all .35s ease-out;
          -o-transition: all .35s ease-out;
          transition: all .35s ease-out;
        }
      }
    }

  }

  .sd-support-policy {
    display: none;
    position: relative;
    padding: 1.5rem 0;
    border-top: 1px solid rgba($theme-color-dark, 0.15);

    .sdsp-info {
      .sdsp-info-box {
        display: flex;
        align-items: flex-end;
        padding: .5rem .75rem .375rem .75rem;

        i {
          font-size: 2rem;
          margin-right: 1rem;
          color: rgba($theme-color-dark, 0.55);
        }

        img {
          width: 2.125rem;
          margin-right: .5rem;
        }

        p {
          margin-bottom: 0;

          span {
            display: block;

            &.sdsp-title {
              font-size: .75rem;
              line-height: 14px;
              color: rgba($theme-color-dark, 1);
            }

            &.sdsp-details {
              font-size: .875rem;
              color: rgba($theme-color-dark, 1);
            }
          }
        }

        &:hover {
          background: rgba($theme-color-dark, 0.15);
        }
      }
    }

    .sdsp-link {
      position: relative;
      border-top: 1px solid rgba($theme-color-dark, 0.15);
      margin-top: 1.25rem;
      padding: 1.25rem .75rem 0 .75rem;

      p {
        margin-bottom: .75rem;
        font-size: .75rem;
        line-height: 1.125rem;
        font-weight: 400;

        a {
          color: rgba($theme-color-dark, 0.65);
        }
      }
    }

    .sdsp-copyright {
      padding: 0 .75rem;

      p {
        font-size: .875rem;
        color: rgba($theme-color-dark, 1);

        i {
          margin-right: .125rem;
        }
      }
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba($theme-color-dark, .15);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($theme-color-dark, .25);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($theme-color-dark, .5);
  }
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

.menu_active {
  background-color: #d4d4d4 !important;
    a.nav-link{
      font-weight: 600 !important;
    }
}


