.customCatList{
    display: block;
    height: 130px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: .75rem;
}

.customImageList{
    display: block;
    height: 250px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: .75rem;
}